.songs{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.inputs{
    width: 200px;
    margin: 10px 0px 10px 63px;
}

.albums{
    display: flex;      
    margin: 20px;
    flex-direction: column;
}

.cards-albums{
   margin: 5px;
}

.btn-album{
    margin: 10px;
    width: 200px;
}

.albumnombre{
    text-decoration: underline;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 18%, rgba(0,212,255,1) 100%);
}

.inputs-album{
    margin: 10px 0px 0px 35px;
    width: 200px;
}

.inputs-editsongalbum{
    margin: 10px 0px 0px 600px;
    width: 200px;
}

